<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LODChain</servlet-name>
        <servlet-class>ics.forth.gr.isl.lodchainServlets.LODChain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSameAs</servlet-name>
        <servlet-class>ics.forth.gr.isl.lodchainServlets.GetSameAs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCommon_Comp_Triples</servlet-name>
        <servlet-class>ics.forth.gr.isl.lodchainServlets.GetCommon_Comp_Triples</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMetadata</servlet-name>
        <servlet-class>ics.forth.gr.isl.lodchainServlets.GetMetadata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProvenance</servlet-name>
        <servlet-class>ics.forth.gr.isl.lodchainServlets.GetProvenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSameAsErrors</servlet-name>
        <servlet-class>ics.forth.gr.isl.lodchainServlets.GetSameAsErrors</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LODChain</servlet-name>
        <url-pattern>/LODChain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSameAs</servlet-name>
        <url-pattern>/GetSameAs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCommon_Comp_Triples</servlet-name>
        <url-pattern>/GetCommon_Comp_Triples</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMetadata</servlet-name>
        <url-pattern>/GetMetadata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProvenance</servlet-name>
        <url-pattern>/GetProvenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSameAsErrors</servlet-name>
        <url-pattern>/GetSameAsErrors</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
